*{
    font-family: 'Varela Round', sans-serif; 
}

body{
    background-color: #f1b5e5;
}

.textinho{
    font-size: 15;
    text-align: center;
    margin-top: 30px;
}
.card {
    width: 200px;
    height: 300px;
    background: #f18fde;
    padding: .4em;
    border-radius: 6px;
    margin-top: 30px;
    box-shadow: 5px 5px  #854377;
  }
  
  .card-image {
    width: 100%;
    height: 60%;
    border-radius: 6px 6px 0 0;
  }
  img{
    width: 100%;
    height: 100%;    
    border-radius: 6px;

  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(68, 41, 73);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }